.main_bd {
  width: 900px;
  margin: 10px auto;
  border-radius: 3px;
}

body {
  display: flex;
  position: relative;
  background-color: lightgray;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 8px;
  margin: 30px;
}

.left_icons {
  display: flex;
  align-items: center;
}

.left_icons h1 {
  color: gray;
  font-size: 30px;
  font-weight: lighter;
  margin: 8px;
}

.left_icons h3 {
  font-size: 20px;
  font-family: Lobster, cursive;
}

.left_icons img {
  width: 20px;
  height: 20px;
}

.search input {
  width: 200px;
  height: 30px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.right_icons img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

/* main */
.main {
  display: flex;
  width: 500px;
  height: 700px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.main div.feeds {
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}

.main div.feeds .feeds_left {
  display: flex;
  align-items: center;
  margin: 5px;
}

.main div.feeds .feeds_left img {
  width: 33px;
  height: 33px;
  border-radius: 16px;
  margin: 10px;
}

.main div.feeds .feeds_left p {
  font-size: 18px;
  margin-left: 7px;
}

.main div.feeds .feeds_right p {
  margin: 13px;
  font-size: 30px;
  margin-left: 330px;
}

.main div.feeds .feeds_content {
  margin: 0;
}

.main div.feeds .feeds_content img {
  display: block;
  width: 498px;
}

.main div.feeds .feeds_icons {
  display: -webkit-inline-box;
}

.main div.feeds .feeds_icons img {
  padding-top: 7px;
  padding-left: 10px;
}

.main div.feeds .feeds_icons_left img {
  width: 35px;
  height: 33px;
  margin: 3px;
}

.main div.feeds .feeds_icons_right img {
  width: 35px;
  height: 33px;
  margin: 3px;
  margin-left: 315px;
}

.main div.feeds .feeds_text_top {
  display: flex;
  align-items: flex-end;
}

.main div.feeds .feeds_text img {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 5px;
}

.main div.feeds .feeds_text h1 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
}

.main div.feeds .feeds_text h2 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

.main div.feeds .feeds_text p {
  color: gray;
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 15px;
}
